extends ../layout

block sidebar
  h1 上传试卷管理
  ul.sidenav
    each scope in scopes
      if currentUser.checkRoles(scope.roles)
        li(class= (req.param('scope')||'') == scope.value ? 'current' : '')
          a(href='/customer_papers/raw/#{scope.value}')=scope.name || scope.value

append head
  script
    $(function(){
      $(document).on('click','a[data-type=delete-selected]',function(e){
        e.preventDefault();
        if(!$('input[name="ids[]"]:checked').length){
          return false;
        }
        if(window.confirm('确定删除选中的记录?')){
          $('form#selects input[name=_method]').val('delete');
          $('form#selects').submit();
        }
      })
      $(document).on('click','a[data-type=batch-selected]',function(e){
        e.preventDefault();
        var left,top;
        var offset = $(this).offset();
        $('#batch-popup').toggle().css('left',offset.left).css('top',offset.top+ $(this).height() + 10);
      });
      $(document).on('click','#batch-popup button',function(){
        if(!$('input[name="ids[]"]:checked').length){
          alert('请先选择需要编辑的记录.');
          return false;
        }
        //- $('form#selects').attr('action','/customer_papers/assign');
        $('form#selects input[name=_method]').val('put');
        $('form#selects input[name=adminId]').val($('#batch-popup').find('select').val());
        $('form#selects').submit();
      });
    });

block content
  .toolbar
    //- a.btn.btn-green.btn-round(href='#' , data-type='add') 录入
    if currentUser.checkRoles(['分配员'])
      a.relative.btn.btn-green.btn-round(href='#' ,data-type='batch-selected')
        |分配录入员
      #batch-popup
        label 分配录入员:
        select
          :qejs(models=models)
            <% models.Admin.findAll({where:{'AdminRoles.Name':'录入员'},include: ['Roles']}) -> admins %>
              <% admins.forEach(function(admin){ -%>
                <option value="<%= admin.id %>"><%= admin.Name %></option>
              <% }) -%>
            <% <- -%>
        button.btn.btn-blue 应用
    a.btn.btn-green.btn-round(href='#' , data-type='refresh') 刷新
    if currentUser.checkRoles(['分配员'])
      a.btn.btn-green.btn-round(href='#' , data-type='delete-selected') 删除
    form#s(method='get').search
      select(name='by')
        option(value='Name',selected=collection.by=='Name') 试卷标题
        option(value='CodeName' ,selected=collection.by=='CodeName') 试卷编号
        option(value='CreatedAt' ,selected=collection.by=='CreatedAt') 上传日期
        option(value='AssignedTo' ,selected=collection.by=='AssignedTo') 录入员
        option(value='CustomerName' ,selected=collection.by=='CustomerName') 会员名
      input(name='q',value='#{collection.q||''}')
      button(type='submit').btn.btn-blue 搜索
  .main
    form#selects(method='post' ,action='/customer_papers')
      input(type='hidden',name='_method',value='delete')
      input(type='hidden',name='adminId',value='')
      table
        thead
          tr
            th.span25px
              input(type='checkbox',data-type='select-all')
            th 编号
            th 状态
            th 录入员
            th 会员名
            th 会员类别
            th 试卷标题
            th 上传时间
            th 录入时间
            th.span20 操作
        tbody
          each model, i in collection
            - var cls = [(i % 2 == 0) ? 'odd' : 'even']
            - cls.push(model.lorder === 4 ? ' highlight' : null)
            tr(class=cls)
              td
                input(type='checkbox',value=model.id,data-type='select',name='ids[]')
              td= model.CodeName
              td
                span.status(class='status-#{model.Status}')=model.statusText()
              td
                if model.assignedTo && model.assignedTo.Name
                  =model.assignedTo.Name
                else
                  |未分配
              td= model.customer.Name
              td= model.lname
              td= model.Name
              td
                if model.CreatedAt
                  = moment(model.CreatedAt).format('YYYY-MM-DD HH:mm')
              td
                if model.RecordedAt
                  = moment(model.RecordedAt).format('YYYY-MM-DD HH:mm')
              td
                case model.Status
                  when 0
                    a.action-0(href='/customer_papers/#{model.id}#recording',data-type='assign') 分配
                  when 1
                    a.action-1(href='/customer_papers/#{model.id}#marking',data-type='mark') 标错题
                  when 4
                    a(href='/customer_papers/#{model.id}#recording',data-type='view') 查看
                  default
                    a.action-3(href='/customer_papers/#{model.id}#recording',data-type='record') 录入
                if currentUser.checkRoles(['分配员'])
                  a(data-type='delete', href='/customer_papers/#{model.id}' , data-method='delete' , data-confirm='确定删除本记录?' , rel="nofollow") 删除
    .pagination
      != paginate(collection)
