extends ../layout
append head
  - locals.bodyClass = 'report1 report'
  link(rel="stylesheet",href="/jmeditor/mathquill-0.9.1/mathquill.css")
  link(rel="stylesheet",href="/stylesheets/jquery-ui.css")
  script(src='/javascripts/jquery.ui.datepicker.min.js')
  !=css('facebox')
  !=js('papers')
  script(src='/jmeditor/JMEditor.js')
  script
    window.report = !{JSON.stringify(report)};
block sidebar
  h1 搜索统计
  ul.sidenav
    li.current
      a(href='/statistics/report1') 学生错题目知识点综合统计
    li
      a(href='/statistics/report2') 学校年级错题统计
    li
      a(href='/statistics/report3') 错题用户名单统计
    li
      a(href='/statistics/report4') 错题知识点用户名单统计
    li
      a(href='/statistics/report5') 卷子知识点题目分布
block content
  .report-form.report1
    h1 学生错题目知识点错误分布:
    form(method='get',action=req.path).underline-dashed
      label 用户名(5个):
      input#ids(name='CustomerIds',type='text')
      label 时间:
      input.datepicker(name='Start',type='text',value=searchParams.Start)
      span -
      input.datepicker(name='End',type='text',value=searchParams.End)
      input.type(type='hidden',value='',name='type')
      button(type='submit').btn.btn-blue 确定
      button.export.btn.btn-orange 导出
  .main.customer_records.customer_report
    .report(ng-app='Paper',ng-controller='StatisticsReportCtrl')
      if report.rows
        table(style='table-layout: fixed;')
          thead
            tr
              th(colspan='3',width='450px')
              each customer in report.customers
                th(colspan='3',width='300px')
                  div 学校: #{customer.School}
                  div 学生: #{customer.Name}
            tr
              th.span150px 类别1
              th.span150px 类别2/知识点
              th.span150px 知识点
              each customer in report.customers
                th.span50px 错误率
                th.span50px 错误数量
                th.span200px.center 错题id
          tbody
            each row,i in report.rows
              tr
                td= row.Level1
                td= row.Level2
                td= row.Name
                each customer,j in report.customers
                  - cls = (j%2 === 0) ? 'odd' : 'even'
                  if row[customer.id]
                    td(class=cls).orange.center #{row[customer.id].wrate}%
                    td(class=cls).orange.center=row[customer.id].wcount
                    td(class=cls)
                      a.question(ng-click='viewQuestion(question)',ng-repeat="question in report.rows[#{i}][#{customer.id}].questions")
                        | {{paper.questionTypes[question.Type]}}{{question.id}}
                  else
                    td(class=cls)
                    td(class=cls)
                    td(class=cls)
  script
    $('input#ids').tokenInput('/customers.json',{
        prePopulate: report && report.customers,
        theme: 'facebook',
        hintText: '请输入用户名或姓名进行搜索...',
        noResultsText: '结果为空',
        searchingText: '搜索中',
        propertyToSearch: 'Name',
        preventDuplicates: true,
        resultsLimit: 20,
        tokenLimit: 5
      });
    $('.datepicker').datepicker();
    $('.export').click(function(e){
      e.preventDefault();
      var form = $(e.currentTarget).parents('form');
      form.find('.type').val('export')
      form.submit();
    });