extends ../layout

block sidebar
  h1 试题库
  ul.sidenav
    each scope in scopes
      li(class= (req.param('scope')||'') == scope.value ? 'current' : '')
        a(href='/questions/scope/#{scope.value}')=scope.name || scope.value

append head
  link(rel="stylesheet",href="/jmeditor/mathquill-0.9.1/mathquill.css")
  !=css('facebox')
  !=js('papers')
  script(src='/jmeditor/JMEditor.js')
  script
    window.questions = !{JSON.stringify(collection)};
    $(function(){
      $(document).on('click','a[data-type=delete-selected]',function(e){
        e.preventDefault();
        if(!$('input[name="ids[]"]:checked').length){
          return false;
        }
        if(window.confirm('确定删除选中的记录?')){
          $('form#select input[name=_method]').val('delete');
          $('form#select').submit();
        }
      })
      //- $('.math-html .math').mathquill();
      //- $('a[rel*=facebox]').facebox();
    });

block content
  .app(ng-app='Paper', ng-controller='QuestionListCtrl')
    .toolbar.questions
      a.btn.btn-green.btn-round(data-type='add', ng-click='addNew()') 添加
      a.btn.btn-green.btn-round(href='#' , data-type='refresh') 刷新
      a.btn.btn-green.btn-round(href='#' , data-type='delete-selected') 隐藏
      form(method='get',name='filter-form',action=req.path).question-filter
        .row
          label.gray 编号
          input(type='text',name='ids',value=collection.ids)
          label.gray 提干
          input(type='text',name='Excerpt',value=collection.Excerpt)
          label.gray 备注
          input(type='text',name='Description',value=collection.Description)
        .row
          label.gray 条件
          select(name='Condition')
            option(value='',selected= !collection.Condition) 全部
            option(value='1',selected= collection.Condition == 1) 1
            option(value='2',selected= collection.Condition == 2) 2
          label.gray 问法
          select(name='Method')
            option(value='',selected= !collection.Method) 全部
            option(value='1',selected= collection.Method == 1) 1
            option(value='2',selected= collection.Method == 2) 2
          label.gray 难度
          select(name='Difficulty')
            option(value='',selected= !collection.Difficulty) 全部
            option(value='1',selected= (collection.Difficulty == 1)) 1
            option(value='2',selected= (collection.Difficulty == 2)) 2
            option(value='3',selected= (collection.Difficulty == 3)) 3
            option(value='4',selected= (collection.Difficulty == 4)) 4
            option(value='5',selected= (collection.Difficulty == 5)) 5
        .row.top
          label.gray 知识点
          button(type='submit').pull-right.btn.btn-blue 搜索
          input(type='text',name='KnowledgeIds',value='')
          if collection.KnowledgeIds
            :qejs(models=models,ids=collection.KnowledgeIds)
              <script>
                <% models.Knowledge.findAll({where: {id:ids} }) -> knowledges %>
                  window.preloadKnowledges = <%-JSON.stringify(knowledges)%>;
                <% <- -%>
              </script>
          script
            $('input[name="KnowledgeIds"]').tokenInput('/knowledges',{
                prePopulate: window.preloadKnowledges,
                theme: 'facebook',
                hintText: '请输入知识点进行搜索...',
                noResultsText: '结果为空',
                searchingText: '搜索中',
                propertyToSearch: 'Name'
              });
      .pull-left.count
        共 #{collection.pageVars.total} 题
    .main
      form#select(method='post' ,action='/questions')
        input(type='hidden',name='_method',value='delete')
        table
          thead
            tr
              th.span25px
                input(type='checkbox',data-type='select-all')
              th.span50px 编号
              th.span50px 状态
              th.span30px 条件
              th.span30px 问法
              th.span40px 类型
              th.span30px 复合
              th 提干
              td.span130px 修改时间
              td.span130px 录入时间
              th.span20 操作
          tbody
            tr(ng-repeat='question in questions',ng-class-even='"even"')
              td
                input(type='checkbox',value="{{question.id}}",data-type='select',name='ids[]')
              td {{question.id}}
              td
                span(question-status='question.Status')
              td
                span.red(ng-show='paper.isBlank(question.Condition)') 未填
              td
                span.red(ng-show='paper.isBlank(question.Method)') 未填
              td {{ paper.questionTypes[question.Type]}}
              td
                span.orange(ng-show='question.knowledges.length > 1') 复
              td
                div.math-html(math-html='question.Body')
              td
                | {{ question.UpdatedAt | date: 'yyyy-MM-dd HH:mm' }}
              td
                | {{ question.CreatedAt | date: 'yyyy-MM-dd HH:mm' }}
              td
                a(data-type='view',ng-click='view(question)') 查看
                a(data-tyep='edit',ng-click='edit(question)') 修改
                a(data-type='delete', href='/questions/{{question.id}}' , data-method='delete' , data-confirm='确定隐藏本记录?' , rel="nofollow") 隐藏
    .pagination
      != paginate(collection,{action: req.path, params: collection.searchParams})
