extends ../layout

block sidebar
  h1 试题库
  ul.sidenav
    each scope in scopes
      li(class= (req.param('scope')||'') == scope.value ? 'current' : '')
        a(href='/questions/scope/#{scope.value}')=scope.name || scope.value

append head
  link(rel="stylesheet",href="/jmeditor/mathquill-0.9.1/mathquill.css")
  !=css('facebox')
  !=js('papers')
  !=css('jquery.iviewer')
  !=css('facebox')
  script(src='/jmeditor/JMEditor.js')
  script
    window.questions = !{JSON.stringify(collection)};
    $(function(){
      $(document).on('click','a[data-type=delete-selected]',function(e){
        e.preventDefault();
        if(!$('input[name="ids[]"]:checked').length){
          return false;
        }
        if(window.confirm('确定删除选中的记录?')){
          $('form#select input[name=_method]').val('delete');
          $('form#select').submit();
        }
      })
      //- $('.math-html .math').mathquill();
      //- $('a[rel*=facebox]').facebox();
    });

block content
  .app(ng-app='Paper', ng-controller='QuestionListCtrl')
    .toolbar
      a.btn.btn-green.btn-round(data-type='add', ng-click='addNew()') 添加
      a.btn.btn-green.btn-round(href='#' , data-type='refresh') 刷新
      a.btn.btn-green.btn-round(href='#' , data-type='delete-selected') 隐藏
      //- form(method='get').search
      //-   select(name='by')
      //-     option(value='Name',selected=collection.by=='Name') 试卷标题
      //-     option(value='CodeName' ,selected=collection.by=='CodeName') 试卷编号
      //-     option(value='CreatedAt' ,selected=collection.by=='CreatedAt') 上传日期
      //-   input(name='q',value='#{collection.q||''}')
      //-   button(type='submit').btn.btn-blue 搜索
    .main
      form#select(method='post' ,action='/questions')
        input(type='hidden',name='_method',value='delete')
        table
          thead
            tr
              th.span25px
                input(type='checkbox',data-type='select-all')
              th.span50px 编号
              th 状态
              th.span50px 条件
              th.span50px 问法
              th 提干
              td.span10 修改时间
              td.span10 录入时间
              th.span20 操作
          tbody
            tr(ng-repeat='question in questions',ng-class-even='"even"')
              td
                input(type='checkbox',value="{{question.id}}",data-type='select',name='ids[]')
              td {{question.id}}
              td
                span(question-status='question.Status')
              td
                span.red(ng-show='paper.isBlank(question.Condition)') 未填
              td
                span.red(ng-show='paper.isBlank(question.Method)') 未填
              td
                div.math-html(math-html='question.Body')
              td
                | {{ question.UpdatedAt | date: 'yyyy-MM-dd HH:mm' }}
              td
                | {{ question.CreatedAt | date: 'yyyy-MM-dd HH:mm' }}
              td
                a(data-type='view',ng-click='view(question)') 查看
                a(data-tyep='edit',ng-click='edit(question)') 修改
                a(data-type='delete', href='/questions/{{question.id}}' , data-method='delete' , data-confirm='确定隐藏本记录?' , rel="nofollow") 隐藏
    .pagination
      != paginate(collection,{action: '/questions'})
