extends ../layout

block sidebar
  h1 试卷模板管理
  ul.sidenav
    each scope in scopes
      if currentUser.checkRoles(scope.roles,'试卷库')
        li(class= (req.param('scope')||'') == scope.value ? 'current' : '')
          a(href='/papers/scope/#{scope.value}')=scope.name || scope.value

append head
  script
    $(function(){
      $(document).on('click','a[data-type=delete-selected]',function(e){
        e.preventDefault();
        if(!$('input[name="ids[]"]:checked').length){
          return false;
        }
        if(window.confirm('确定删除选中的记录?')){
          $('form#select input[name=_method]').val('delete');
          $('form#select').submit();
        }
      })
    });

block content
  .toolbar
    a.btn.btn-green.btn-round(href='/papers/new' , data-type='add') 添加
    a.btn.btn-green.btn-round(href='#' , data-type='refresh') 刷新
    a.btn.btn-green.btn-round(href='#' , data-type='delete-selected') 删除
    form(method='get').search.paper
      select(name='GradeId')
        option(value='',selected= !collection.GradeId) 全部年级
        :qejs(models=models,collection=collection)
          <% models.Grade.findAll() -> grades %>
            <% grades.forEach(function(grade){ -%>
              <option value="<%= grade.id %>" <%= grade.id == collection.GradeId ? 'selected' : '' %>><%= grade.Name %></option>
            <% }) -%>
          <% <- -%>
      select(name='by')
        option(value='Name',selected=collection.by=='Name') 试卷标题
        option(value='CodeName' ,selected=collection.by=='CodeName') 试卷编号
        option(value='CreatedAt' ,selected=collection.by=='CreatedAt') 上传日期
      input(name='q',value='#{collection.q||''}')
      button(type='submit').btn.btn-blue 搜索
  .main
    form#select(method='post' ,action='/papers')
      input(type='hidden',name='_method',value='delete')
      table
        thead
          tr
            th.span25px
              input(type='checkbox',data-type='select-all')
            th 编号
            th 状态
            th 试卷来源
            th 试卷标题
            th 更改时间
            th 录入时间
            th.span20 操作
        tbody
          each model, i in collection
            - var cls = [(i % 2 == 0) ? 'odd' : 'even']
            - cls.push(model.lorder === 4 ? ' highlight' : null)
            tr(class=cls)
              td
                input(type='checkbox',value=model.id,data-type='select',name='ids[]')
              td= model.CodeName
              td
                span.status(class='status-#{model.Status}')=model.statusText()
              td
                if model.Source == 0
                  用户上传
                else
                  录入
              td= model.Name
              td
                if model.UpdatedAt || model.RecordedAt
                  = moment(model.UpdatedAt || model.RecordedAt).format('YYYY-MM-DD HH:mm')
              td
                if model.RecordedAt
                  = moment(model.RecordedAt).format('YYYY-MM-DD HH:mm')
              td
                if model.Status == 6
                  a(href='/papers/#{model.id}#paper-report',data-type='report',target='_blank') 报告
                else
                  a.hidden 占位
                if model.Status == 3
                  a(href='/papers/#{model.id}#recording',data-type='edit') 录入
                  a(style='visibility:hidden') 占位
                else
                  a(href='/papers/#{model.id}#view',data-type='view',target='_blank') 查看
                  a(href='/papers/#{model.id}#edit',data-type='edit',target='_blank') 修改
                a(data-type='delete', href='/papers/#{model.id}' , data-method='delete' , data-confirm='确定删除本记录?' , rel="nofollow") 删除
    .pagination
      != paginate(collection)
