form(action= !instance.isNewRecord ? '/customers/#{instance.id}' : '/customers',method='post')
  if !instance.isNewRecord
    input(type='hidden',name='_method',value='put')
    .field.gray
      span.label
        会员ID
      span
        =instance.id
      span(style='margin-left:20px') 注册时间 #{moment(instance.CreatedAt).format('YYYY-MM-DD HH:mm')}
  .field
    span.label 会员类别
    select(name='instance[LevelId]')
      :qejs(instance=instance,models=models)
        <% models.Level.findAll() -> levels %>
          <% levels.forEach(function(level){ -%>
            <option value="<%= level.id %>" <%= level.id === instance.LevelId ? 'selected' : '' %>><%= level.Name %></option>
          <% }) -%>
        <% <- -%>
  .field
    span.label 姓名:
    input(type='text',name='instance[Name]',value=instance.Name)
  .field
    span.label 用户名:
    input(type='text',name='instance[UserName]',value=instance.UserName)
  .field
    span.label 密码
      if !instance.isNewRecord
        |(不修改请留空)
      |:
    input(type='password',name='instance[pass]')
  .field
    span.label Email:
    input(type='text',name='instance[Email]',value=instance.Email)
  .field
    span.label 性别:
    select(name='instance[Gender]')
      option(value='true',selected=instance.Gender)男
      option(value='false',selected=!instance.Gender)女
  .field
    span.label 身份:
    select(name='instance[CustomerRoleId]')
      :qejs(instance = instance, models=models)
        <% models.CustomerRole.findAll() -> roles %>
          <% roles.forEach(function(role){ -%>
            <option value="<%= role.id %>" <%= role.id === instance.CustomerRoleId ? 'selected' : '' %>><%= role.Name %></option>
          <% }) -%>
        <% <- -%>
  .field
    span.label 关联用户:
    input(type='text',name='instance[relatedIds]', style='width: 370px')
    :qejs(instance=instance)
      <% instance.getRelated() -> relateds %>
        <% array = (relateds || []).map(function(related){ return {id: related.id, name: related.Name}}) %>
        <script>
          window.related = <%- JSON.stringify(array) %>;
        </script>
      <% <- %>
    script
      $('input[name="instance[relatedIds]"]').tokenInput('/customers.json',{
          prePopulate: window.related,
          theme: 'facebook',
          hintText: '请输入用户名或姓名进行搜索...',
          noResultsText: '结果为空',
          searchingText: '搜索中'
        });
  .field
    span.label 学校:
    input(type='text',name='instance[School]',value=instance.School)
  .field
    span.label 年级:
    select(name='instance[GradeId]')
      :qejs(instance = instance, models=models)
        <% models.Grade.findAll() -> grades %>
          <% grades.forEach(function(grade){ -%>
            <option value="<%= grade.id %>" <%= grade.id === instance.GradeId ? 'selected' : '' %>><%= grade.Name %></option>
          <% }) -%>
        <% <- -%>
  .field
    span.label 班级:
    input(type='text',name='instance[Class]',value=instance.Class)
  .actions
    a.btn(href='javasctip:history.go(-1)') 取消
    if !instance.isNewRecord
      button(type="submit").btn.btn-orange 更新
    else
      button(type="submit").btn.btn-orange 添加