extends index

block content
  .main.customer_records
    .form
      .form-header
        ul.tabs
          li.tab
            a(href='/customers/#{instance.id}')会员信息
          li.tab.current
            a(href='/customers/#{instance.id}/records')上传记录
          li.tab
            a(href='/customers/#{instance.id}/report')错误报告
      .info
        span 用户: #{instance.Name}
        span 上传#{customerPapers.length}张卷子
        - var finishedCount = customerPapers.filter(function(cp){return cp.Status == 6 || cp.Status == 7}).length;
        span 完成解答#{finishedCount}张
        - var untouchedCount = customerPapers.filter(function(cp){return cp.Status == 0}).length;
        span 未处理#{untouchedCount}张
      table
        thead
          tr
            th 编号
            th 状态
            th 试卷标题
            th 错误率
            th 上传时间
            th 录入时间
            th.span20 操作
        tbody
          each model, i in customerPapers
            - var cls = [(i % 2 == 0) ? 'odd' : 'even']
            - cls.push(model.lorder === 4 ? ' highlight' : null)
            tr(class=cls)
              td= model.CodeName
              td
                span.status(class='status-#{model.Status}')=model.statusText()
              td= model.Name
              td.orange
                if utils._.isNumber(model.CorrectRate)
                  |#{100-model.CorrectRate}%
              td
                if model.CreatedAt
                  = moment(model.CreatedAt).format('YYYY/MM/DD')
              td
                if model.RecordedAt
                  = moment(model.RecordedAt).format('YYYY/MM/DD')
              td
                if model.Status == 6 || models.Status == 7
                  a(href='/customer_papers/#{model.id}#report',data-type='report',target='_blank') 报告
                else
                  a.hidden 占位
                a(href='/customer_papers/#{model.id}#recording',data-type='view',target='_blank') 查看
                a(href='/customer_papers/#{model.id}#edit',data-type='edit',target='_blank') 修改
                a(data-type='delete', href='/customer_papers/#{model.id}' , data-method='delete' , data-confirm='确定删除本记录?' , rel="nofollow") 删除